@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

/* globals */

html,
body {
  background-color: #bff3e6;
  color: #000f08;
  font-family: "Work Sans", sans-serif;
  font-size: 24px;
}

body {
  margin: 1rem;
}

tspan {
  font-family: "Work Sans", sans-serif !important;
  font-size: 16px !important;
}

::selection {
  background: #f9f98a;
}

h1,
h2,
p {
  margin: 1rem 0 0 0;
}

h1,
h2 {
  font-family: "Syne", sans-serif;
  text-transform: uppercase;
}

h1 {
  font-size: 60px;
  font-weight: 800;
}

h2 {
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0.187em;
}

button {
  cursor: pointer !important;
}

a,
a:visited {
  color: inherit;
}

td, th {
  padding: 0.25em 2em 0.25em 0;
}

th {
  text-align: left;
}

/* components */

.App {
  margin: 1em;
}

.UrlSelect {
  max-width: 400px;
  margin: 2rem 0 0 0;
}

.Btn {
  margin: 1rem 0 0 0;
  padding: 0.25rem 1.25rem;

  border-radius: 2rem;
  background-color: #dbfff5;
}

.SelectedSite {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin: 2rem 0 0 0;

  border-radius: 2rem;
  font-size: 24px;
}

.SelectedSite:not(.highlighted) {
  background-color: #bff3e6;
  box-shadow: -0.5em -0.5em 1.5em 0 #dbfff5, 0.5em 0.5em 1.5em 0 #6ee0bf;
}

.SelectedSite.highlighted {
  background-color: #b4f2e0;
  box-shadow: inset -6px -6px 16px 0 #dbfff5, inset 6px 6px 16px 0 #6ee0bf;
}

.SelectedSite-btn {
  padding: 1rem 0 1rem 1.5rem;
  text-align: left;
  width: 100%;

  font-weight: 400;
  word-break: break-all; /* I'm sorry */
}

.SelectedSite-removeBtn {
  padding: 1rem 1.5rem;
}

.SelectedSite-btn:focus,
.SelectedSite-removeBtn:focus {
  outline: none;
  border-radius: inherit;
  box-shadow: 0 0 0 4px #6ee0bf;
}

.SiteDetails {
  margin-bottom: 2em;
}

.Chart {
  margin: 0 0 3rem 0;
  max-width: 400px;
  padding: 1rem 1.5rem;

  background-color: #fff;
  border-radius: 1.25em;
  box-shadow: 12px 12px 36px #aeddd1, -12px -12px 36px #d0fffb;
}

.Chart-title {
  font-size: 0.7rem;
}

/* Layout */
.Hero {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.About {
  margin-top: 52px;
  font-size: 0.7em;
  max-width: 45ch;
}

.About h2 {
  font-size: 0.9rem;
}

.About p {
  max-width: 45ch;
}

.Grid {
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: 400px auto;
  grid-template-areas: "sidebar content ";
}

.Grid-Sidebar {
  grid-area: sidebar;
}

.Grid-Content {
  grid-area: content;
}

/* classes */

.columns {
  padding: 1rem 0 0 0;
  column-width: 400px;
}

.text {
  max-width: 500px;
}

.footer {
  text-align: center;
  margin: 4em 0;
}
