@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,400;0,600;1,400&display=swap");

/* components */
.SiteDetails {
  margin: 1rem 0 0 0;
}

/* classes */

.columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.footer {
  text-align: center;
  margin: 4em 0;
}
