body {
  margin: 0;
  padding: 0;
}

button {
  padding: 0;

  border: 0;
  border-radius: 0;
  background: transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Syne";
  src: url("/assets/syne/Syne-Extra.woff2") format("woff2"),
    url("/assets/syne/Syne-Extra.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Syne";
  src: url("/assets/syne/Syne-Regular.woff2") format("woff2"),
    url("/assets/syne/Syne-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Syne";
  src: url("/assets/syne/Syne-Bold.woff2") format("woff2"),
    url("/assets/syne/Syne-Bold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
